// main: ../style.scss

.card-formule{
    margin-bottom: 2rem;
}

.item-drink{
    line-height: 2rem;
    margin: 10px 10px;
}









// MEDIUM ----------------------------------------------------------------------
@include responsive(M){

}

// SMALL -----------------------------------------------------------------------
@include responsive(S){

}

//  EXTRA SMALL ----------------------------------------------------------------
@include responsive(XS){

}
